$kaldi-yellow: #f3e6f2;
$primary: #f3e6f2;
$primary-light: #fffaff;

$secondprimary: #340d6a;
$signal: #340d6a;
$black: rgb(34, 34, 34); 

%border-radius {
    border-radius: 12px;
}

%box-shadow {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
}
%box-shadow-hover {
    @media (hover: hover) {
        &:hover {
            box-shadow: 0 8px 30px rgba(200, 0, 0, 0.2);
        }
    }
}