@import '../../utils/variables.scss';
@import './flexboxgrid.scss';

@keyframes fade-in {
  0% {
    transform: translateY(30px);
    opacity: 1;}
  100% {
    transform: translateY(0px);
    opacity: 1;}
}
a {
  text-shadow: none!important;
  background-image: none;}
section {
  padding: 100px 0;
  overflow: hidden;
}
.bg-primary {
  background: $primary;
}

body {
  margin: 0;}

a {
  color: inherit!important; 
  text-decoration: none!important;
  background-image: none!important;}
img{
  width: 100%;
  margin: 0!important;}
.section {
  animation: fade-in 0.4s;}
.bold{
  font-weight: bold;}
.center{
  text-align: center;}
li {
  padding: 0 2rem 1rem 0;
  margin-bottom: 1.5rem;
  margin-top: 0;}
@media screen and (max-width: 767px){
  .page-content{
    padding-top: 0px;}
}