@import '../Layouts/scss/variables/variables';

.masonryWrapper {
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;
}
.masonryWrapper>div {
    flex-grow: 1;
    flex-basis: 0;
}
@keyframes loadedCard {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}
.masonryWrapper .card {
    display: block;
    position: relative;
    margin: 30px 15px;
    
}
.bold {
    font-weight: bold;
}
h4.mosaikTitle {
    color: white;
    margin-bottom: 0;
}
.caseSubtitle {
  max-height: 0px;
  transition: max-height 0.6s ease;
  overflow: hidden;
}
@media (hover: hover) {
    .contentMosaik:hover .caseSubtitle{
    max-height: 80px;
    transition: max-height 0.6s ease;
    }
}
.contentMosaik {
    margin: 0;
    animation: loadedCard 0.6s ease;
}
.mosaikElement p {
  z-index: 500;
  position: relative;
  color: inherit;
  color: white;
  margin-bottom: 0 !important;
  line-height: 1.5;
}
.gradiant {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+69,000000+100&0+69,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 160%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 70%,rgba(0,0,0,1) 160%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 160%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  transition: all 0.4s;
  @extend %border-radius;
}
.contentMosaik {
  position: relative;
  overflow: hidden;
  line-height: 0;
  margin: 0 1rem;
  margin-bottom: 2rem;
  transition: all 0.4s ease;
  @extend %border-radius;
  @extend %box-shadow;
  @extend %box-shadow-hover;
}
@media (hover: hover) {
    .contentMosaik:hover {
        transform: translateY(-10px);
        transition: transform 0.4s ease;
    }
}
.contentMosaik img { 
    margin: 0!important;
}
.mosaikElement {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    z-index: 300;
}
.overlayMosaik{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 201;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
    @extend %border-radius;}
.contentMosaik:hover .overlayMosaik{
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: all 0.4s ease;
}
.btn {
    opacity: 1;
    transition: all 0.6s ease;
}
.hidden, .btn.hidden {
    opacity: 0;
    height:0;
    padding: 0;
    border: 0;
    margin: 0;
    transition: all 0.6s ease;
}