.masonryWrapper {
    display: flex;
}
.masonryWrapper>div {
    flex-grow: 1;
    flex-basis: 0;
}
.masonryWrapper .card {
    display: block;
    position: relative;
    margin: 30px 15px;
}


.bold {
    font-weight: bold;
}
h3.mosaikTitle {
    color: white;
    margin-bottom: 0;
}
.caseSubtitle {
  max-height: 0px;
  transition: max-height 0.6s ease;
  overflow: hidden;
}
.contentMosaik:hover .caseSubtitle{
  max-height: 80px;
  transition: max-height 0.6s ease;
}
.contentMosaik {
    margin: 0;
}
.mosaikElement p {
  z-index: 500;
  position: relative;
  color: inherit;
  color: white;
  margin-bottom: 0 !important;
  line-height: 1.5;
}
.gradiant {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+69,000000+100&0+69,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 69%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 69%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 69%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  border-radius: 3px;
  transition: all 0.4s;
}
.contentMosaik {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  line-height: 0;
  margin: 0 15px;
  margin-bottom: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
.mosaikElement {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    z-index: 300;
}
.overlayMosaik{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 201;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}
.contentMosaik:hover .overlayMosaik{
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: all 0.4s ease;
}