.masonry-wrapper {
    display: flex;
}
.masonry-wrapper>div {
    flex-grow: 1;
    flex-basis: 0;
}
.masonry-wrapper .card {
    display: block;
    position: relative;
    margin: 30px 15px;
}
.bold {
    font-weight: bold;
}
h3.mosaik-title {
    color: white;
}
.case-subtitle {
  max-height: 0px;
  transition: max-height 0.6s ease;
  overflow: hidden;
}
.content-mosaik:hover .case-subtitle{
  max-height: 80px;
  transition: max-height 0.6s ease;
}
.mosaik-element p {
  z-index: 500;
  position: relative;
  color: inherit;
  color: white;
  margin-bottom: 0 !important;
  line-height: 1.5;
}
.gradiant {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0) 60%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0) 60%), to(rgba(0, 0, 0, .7) 100%));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .7) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .7) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .7) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .7) 100%);
  border-radius: 3px;
  transition: all 0.4s;
}
.content-mosaik {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  line-height: 0;
  margin: 0 15px;
  margin-bottom: 30px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}
.mosaik-element {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    z-index: 300;
}
.overlay-mosaik{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 201;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}
.content-mosaik:hover .overlay-mosaik{
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: all 0.4s ease;
}