@keyframes fade-in {
    0% {
        transform: translateY(30px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

a {
    text-shadow: none !important;
    // background-image: none;
    color: $signal !important;
    text-decoration: none !important;
    // background-image: none!important;
}

button {
    cursor: pointer;
    background: transparent;
}
blockquote {
    border-left: 0.27rem solid #340d6a;
    font-size: 1rem;
}
.section {
    padding: 80px 0;
    overflow: hidden;
    z-index: 10;
    position: relative;
}

.bg-primary {
    background: $primary;
}

.secondary {
    color: $signal;
}

body {
    margin: 0;
    background-color: white;
}
.videoIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.videoWrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
.case {
    padding-left: 4rem;
    padding-right: 4rem;
}

}
.case-row {
    padding: 2rem 0;
    box-sizing: border-box;
    
    @media screen and (max-width: 48rem) {
        padding-top: 4rem;
    }    
}

h2,
h3,
h4,
h5 {
    color: $signal;
}

img {
    width: 100%;
    margin: 0 !important;
    line-height: 0;
}
.case-img {
    @extend %box-shadow;
    @extend %border-radius;
}
.section {
    animation: fade-in 0.4s;
}

.section-heading {
    margin-bottom: 70px;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.page-content {
    overflow: hidden;
    max-width: 100%;
}

.content-padding {
    padding: 0 15px;
}

@media screen and (max-width: 48rem) {
    .page-content {
        padding-top: 0px;
    }
}

.clientlogoes img {
    width: 120px;
    max-width: 100%;
    margin: auto !important;
    display: block;
}